@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #0f1111; /* Dark grey for text */
  --background-color: #ffffff; /* White background */
  --primary-color: #ff9900; /* Amazon's orange */
  --secondary-color: #146eb4; /* Amazon's blue */
  --nav-bg-color: #232f3e; /* Darker blue for the navigation bar */
  --nav-border-color: #ffd700; /* Gold for borders */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #e0e0e0;
    --background-color: #121212;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
