/* styles/Orders.module.css */
.container {
  padding: 20px;
}

.ordersList {
  display: flex;
  flex-wrap: wrap;
}

.orderCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.takeOrderButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.openChatButton {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Add some space between the buttons */
}

.takeOrderButton:hover, .openChatButton:hover {
  opacity: 0.8;
}
