/* styles/Orders.module.css */
.container {
  padding: 20px;
}

.ordersList {
  display: flex;
  flex-wrap: wrap;
}

.orderCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.takeOrderButton {
  background-color: #4CAF50;
  color: rgb(29, 28, 28);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.openChatButton {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Add some space between the buttons */
}

.takeOrderButton:hover, .openChatButton:hover {
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modalContent a {
  word-break: break-all;
  color: blue; /* Makes links blue and readable */
  text-decoration: underline; /* Adds underline to make links more distinguishable */

}

.modalContent button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #005bb5;
}
